<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <title>迎新指南</title>
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/guide.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/public.css">
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>
  <div class="container full-page" id="container">
    <div class="page-change" id="page-change">
      <div class="cloud cloud-left" id="cloud-left"></div>
      <div class="cloud cloud-right" id="cloud-right"></div>
      <div class="switch-btn switch-left" id="switch-left"></div>
      <div class="switch-btn switch-right" id="switch-right"></div>
      <ul id="page-change-ul">
        <li index="0"><a href=""></a></li>
        <li index="1"><a href=""></a></li>
        <li index="2"><a href=""></a></li>
        <li index="3"><a href=""></a></li>
        <li index="4"><a href=""></a></li>
        <li index="5"><a href=""></a></li>
        <li index="6"><a href=""></a></li>
        <li index="7"><a href=""></a></li>
      </ul>
    </div>
    <div class="page-content" id="page-content">
      <div class="page-content-1" id="page-content-1">
        <div class="page-title page-title-1 data-image" data-src="./images/page-title-1.png"></div>
        <ul class="page-content-list list-1">
          <li class="data-image" id="list-1-food" page="1" list="1" data-src="./images/list-1-food.png"></li>
          <li class="data-image" id="list-1-dormi" page="1" list="2" data-src="./images/list-1-dormi.png"></li>
          <li class="data-image" id="list-1-trans" page="1" list="3" data-src="./images/list-1-trans.png"></li>
          <li class="data-image" id="list-1-bank" page="1" list="4" data-src="./images/list-1-bank.png"></li>
          <li class="data-image" id="list-1-express" page="1" list="5" data-src="./images/list-1-express.png"></li>
          <div class="clear"></div>
        </ul>
      </div>
      <div class="page-content-2 list-2" id="page-content-2">
        <div class="page-title page-title-2 data-image" data-src="./images/page-title-2.png"></div>
        <ul class="page-content-list list-2">
          <li class="data-image" id="list-2-exprmtl" page="2" list="1" data-src="./images/list-2-exprmtl.png"></li>
          <li class="data-image" id="list-2-transfer" page="2" list="2" data-src="./images/list-2-transfer.png"></li>
          <li class="data-image" id="list-2-scholar" page="2" list="3" data-src="./images/list-2-scholar.png"></li>
          <li class="data-image" id="list-2-dual" page="2" list="4" data-src="./images/list-2-dual.png"></li>
          <div class="clear"></div>
        </ul>
      </div>
      <div class="page-content-3 list-3" id="page-content-3">
        <div class="page-title page-title-3 data-image" data-src="/images/page-title-3.png"></div>
        <div data-role="collapsibleset" class="list-3">
          <div data-role="collapsible" data-collapsed="false">
            <h3 class="panel-title">学生组织</h3>
            <div class="scoll-container">
            <ul class="page-content-list school-teams">
              <li class="data-image" page="3" list="1" data-src="./images/t-01.png"><div>南昌大学<br/>家园工作室</div></li>
              <li class="data-image" page="3" list="2" data-src="./images/t-02.png"><div>南昌大学<br/>大学生记者团</div></li>
              <li class="data-image" page="3" list="3" data-src="./images/t-03.png"><div>南昌大学<br/>官方团队</div></li>
              <li class="data-image" page="3" list="4" data-src="./images/t-04.png"><div>校友工作<br/>志愿者协会</div></li>
              <li class="data-image" page="3" list="5" data-src="./images/t-05.png"><div>南昌大学电动<br/>方程式赛车队</div></li>
              <li class="data-image" page="3" list="6" data-src="./images/t-06.png"><div>南昌大学<br/>学生通讯社</div></li>
              <li class="data-image" page="3" list="7" data-src="./images/t-07.png"><div>南昌大学心理<br/>健康发展协会</div></li>
              <li class="data-image" page="3" list="8" data-src="./images/t-08.png"><div>南昌大学<br/>机器人队</div></li>
              <li class="data-image" page="3" list="9" data-src="./images/t-09.png"><div>南昌大学<br/>电视台</div></li>
              <li class="data-image" page="3" list="10" data-src="./images/t-10.png"><div>南大职业发展<br/>与创业工作室</div></li>
              <li class="data-image" page="3" list="11" data-src="./images/t-11.png"><div>"前湖之风"周<br/>末讲坛联络处</div></li>
              <li class="data-image" page="3" list="12" data-src="./images/t-12.png"><div>安全事务学生<br/>联合服务中心</div></li>
              <li class="data-image" page="3" list="13" data-src="./images/t-13.png"><div>南大"挑战杯"<br/>项目办公室</div></li>
              <li class="data-image" page="3" list="14" data-src="./images/t-14.png"><div>南昌大学学生<br/>义务消防连</div></li>
              <li class="data-image" page="3" list="15" data-src="./images/t-15.png"><div>南昌大学<br/>大学生读书社</div></li>
              <li class="data-image" page="3" list="16" data-src="./images/t-16.png"><div>南昌大学就业<br/>指导服务社</div></li>
              <li class="data-image" page="3" list="17" data-src="./images/t-17.png"><div>南昌大学<br/>赣鄱清风学社</div></li>
              <li class="data-image" page="3" list="18" data-src="./images/t-18.png"><div>南昌大学<br/>学生调研组</div></li>
              <li class="data-image" page="3" list="19" data-src="./images/t-19.png"><div>南昌大学<br/>国旗护卫队</div></li>
              <li class="data-image" page="3" list="20" data-src="./images/t-20.png"><div>南昌大学江医<br/>宿舍读书会</div></li>
              <li class="data-image" page="3" list="21" data-src="./images/t-21.png"><div>教务处学生<br/>学习服务中心</div></li>
              <li class="data-image" page="3" list="22" data-src="./images/t-22.png"><div>南昌大学决策<br/>科学研究会</div></li>
              <li class="data-image" page="3" list="23" data-src="./images/t-23.png"><div>南昌大学<br/>理研会</div></li>
              <li class="data-image" page="3" list="24" data-src="./images/t-24.png"><div>南昌大学<br/>共青团委员会</div></li>
              <li class="data-image" page="3" list="25" data-src="./images/t-25.png"><div>南昌大学<br/>新媒体工作室</div></li>
              <li class="data-image" page="3" list="26" data-src="./images/t-26.png"><div>南昌大学<br/>宣传团</div></li>
              <li class="data-image" page="3" list="27" data-src="./images/t-27.png"><div>南大学生公寓<br/>与教室委员会</div></li>
              <li class="data-image" page="3" list="28" data-src="./images/t-28.png"><div>南昌大学学生<br/>事务服务中心</div></li>
              <li class="data-image" page="3" list="29" data-src="./images/t-29.png"><div>南昌大学学生<br/>文明纠察队</div></li>
              <li class="data-image" page="3" list="30" data-src="./images/t-30.png"><div>南昌大学<br/>艺术团</div></li>
              <li class="data-image" page="3" list="31" data-src="./images/t-31.png"><div>南昌大学<br/>英文广播电台</div></li>
              <li class="data-image" page="3" list="32" data-src="./images/t-32.png"><div>南昌大学助学<br/>服务联合会</div></li>
              <div class="clear"></div>
            </ul>
          </div>
          </div>
          <div data-role="collapsible">
              <h3 class="panel-title">其他</h3>
              <div class="scoll-container">
              <ul class="page-content-list school-teams">
                  <li class="data-image" page="3" list="1" data-src="./images/x-1.png"><div>南昌大学<br/>抱欢相声社</div></li>
                  <li class="data-image" page="3" list="2" data-src="./images/x-2.png"><div>南昌大学<br/>节南山诗社</div></li>
                  <li class="data-image" page="3" list="3" data-src="./images/x-3.png"><div>南昌大学<br/>英语口语协会</div></li>
                  <li class="data-image" page="3" list="4" data-src="./images/x-4.png"><div>SKYwalker<br/>轮滑社</div></li>
                  <li class="data-image" page="3" list="5" data-src="./images/x-5.png"><div>南昌大学<br/>粤语协会</div></li>
                  <li class="data-image" page="3" list="6" data-src="./images/x-6.png"><div>南昌大学<br/>轮滑社</div></li>
                <div class="clear"></div>
              </div>
              </ul>
            </div>
        </div>
      </div>
      <div class="page-content-4" id="page-content-4" style="margin-top: 0;">
          <div class="page-title page-title-4 data-image" data-src="/images/page-title-4.png"></div>
          <div class="data-image q-a" data-src="./images/q-a.png"></div>
          <ul class="page-content-list list-4">
            <li class="data-image p4-card-1" data-src="./images/bg-card.png"><div></div></li>
            <li class="data-image p4-card-2" data-src="./images/bg-card.png"><div></div></li>
            <li class="data-image p4-more" data-src="./images/more.png"></li>
            <li class="data-image p4-app" data-src="./images/app.png"></li>
            <li class="data-image p4-follow" data-src="./images/follow.png"></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="mengban" id="mengban">
    <div id="close-btn"></div>
    <div class="word-content" id="word-content"></div>
  </div>
</body>
<script type="text/javascript" src="javascripts/words.js"></script>
<script type="text/javascript" src="javascripts/public.js"></script>
<script type="text/javascript" src="javascripts/guide.js"></script>

</html>