<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <title>迎新指南</title>
  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.mobile-1.4.5.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80324378-12"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-80324378-12');
  </script>
  <link href="https://cdn.bootcss.com/jquery-mobile/1.4.5/jquery.mobile.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/guide.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/public.css">
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>
  <div class="container full-page" id="container">
    <div class="page-change" id="page-change">
      <div class="cloud cloud-left" id="cloud-left"></div>
      <div class="cloud cloud-right" id="cloud-right"></div>
      <div class="switch-btn switch-left" id="switch-left"></div>
      <div class="switch-btn switch-right" id="switch-right"></div>
      <ul id="page-change-ul">
        <li index="0"><a href=""></a></li>
        <li index="1"><a href=""></a></li>
        <li index="2"><a href=""></a></li>
        <li index="3"><a href=""></a></li>
        <li index="4"><a href=""></a></li>
        <li index="5"><a href=""></a></li>
        <li index="6"><a href=""></a></li>
        <li index="7"><a href=""></a></li>
      </ul>
    </div>
    <div class="page-content" id="page-content">
      <div class="page-content-1" id="page-content-1">
        <div class="page-title page-title-1 data-image" data-src="./images/page-title-1.png"></div>
        <ul class="page-content-list list-1">
          <li class="data-image" id="list-1-food" page="1" list="1" data-src="./images/list-1-food.png"></li>
          <li class="data-image" id="list-1-dormi" page="1" list="2" data-src="./images/list-1-dormi.png"></li>
          <li class="data-image" id="list-1-trans" page="1" list="3" data-src="./images/list-1-trans.png"></li>
          <li class="data-image" id="list-1-bank" page="1" list="4" data-src="./images/list-1-bank.png"></li>
          <li class="data-image" id="list-1-express" page="1" list="5" data-src="./images/list-1-express.png"></li>
          <div class="clear"></div>
        </ul>
      </div>
      <div class="page-content-2 list-2" id="page-content-2">
        <div class="page-title page-title-2 data-image" data-src="./images/page-title-2.png"></div>
        <ul class="page-content-list list-2">
          <li class="data-image" id="list-2-exprmtl" page="2" list="1" data-src="./images/list-2-exprmtl.png"></li>
          <li class="data-image" id="list-2-transfer" page="2" list="2" data-src="./images/list-2-transfer.png"></li>
          <li class="data-image" id="list-2-scholar" page="2" list="3" data-src="./images/list-2-scholar.png"></li>
          <li class="data-image" id="list-2-dual" page="2" list="4" data-src="./images/list-2-dual.png"></li>
          <div class="clear"></div>
        </ul>
      </div>
      <div class="page-content-3 list-3" id="page-content-3">
        <div class="page-title page-title-3 data-image" data-src="/images/page-title-3.png"></div>
        <div data-role="collapsibleset" class="list-3">
          <div data-role="collapsible" data-collapsed="false">
            <h3 class="panel-title">学生组织</h3>
            <div class="scoll-container">
            <ul class="page-content-list school-teams">
              <li class="data-image" page="3" list="1" data-src="./images/t-01.png"><div>南昌大学<br/>家园工作室</div></li>
              <li class="data-image" page="3" list="2" data-src="./images/t-02.png"><div>南昌大学<br/>大学生记者团</div></li>
              <li class="data-image" page="3" list="3" data-src="./images/t-03.png"><div>南昌大学<br/>官方团队</div></li>
              <li class="data-image" page="3" list="4" data-src="./images/t-04.png"><div>校友工作<br/>志愿者协会</div></li>
              <li class="data-image" page="3" list="5" data-src="./images/t-05.png"><div>南昌大学电动<br/>方程式赛车队</div></li>
              <li class="data-image" page="3" list="6" data-src="./images/t-06.png"><div>南昌大学<br/>学生通讯社</div></li>
              <li class="data-image" page="3" list="7" data-src="./images/t-07.png"><div>南昌大学心理<br/>健康发展协会</div></li>
              <li class="data-image" page="3" list="8" data-src="./images/t-08.png"><div>南昌大学<br/>机器人队</div></li>
              <li class="data-image" page="3" list="9" data-src="./images/t-09.png"><div>南昌大学<br/>电视台</div></li>
              <li class="data-image" page="3" list="10" data-src="./images/t-10.png"><div>南大职业发展<br/>与创业工作室</div></li>
              <li class="data-image" page="3" list="11" data-src="./images/t-11.png"><div>"前湖之风"周<br/>末讲坛联络处</div></li>
              <li class="data-image" page="3" list="12" data-src="./images/t-12.png"><div>安全事务学生<br/>联合服务中心</div></li>
              <li class="data-image" page="3" list="13" data-src="./images/t-13.png"><div>南大"挑战杯"<br/>项目办公室</div></li>
              <li class="data-image" page="3" list="14" data-src="./images/t-14.png"><div>南昌大学学生<br/>义务消防连</div></li>
              <li class="data-image" page="3" list="15" data-src="./images/t-15.png"><div>南昌大学<br/>大学生读书社</div></li>
              <li class="data-image" page="3" list="16" data-src="./images/t-16.png"><div>南昌大学就业<br/>指导服务社</div></li>
              <li class="data-image" page="3" list="17" data-src="./images/t-17.png"><div>南昌大学<br/>赣鄱清风学社</div></li>
              <li class="data-image" page="3" list="18" data-src="./images/t-18.png"><div>南昌大学<br/>学生调研组</div></li>
              <li class="data-image" page="3" list="19" data-src="./images/t-19.png"><div>南昌大学<br/>国旗护卫队</div></li>
              <li class="data-image" page="3" list="20" data-src="./images/t-20.png"><div>南昌大学江医<br/>宿舍读书会</div></li>
              <li class="data-image" page="3" list="21" data-src="./images/t-21.png"><div>教务处学生<br/>学习服务中心</div></li>
              <li class="data-image" page="3" list="22" data-src="./images/t-22.png"><div>南昌大学决策<br/>科学研究会</div></li>
              <li class="data-image" page="3" list="23" data-src="./images/t-23.png"><div>南昌大学<br/>理研会</div></li>
              <li class="data-image" page="3" list="24" data-src="./images/t-24.png"><div>南昌大学<br/>共青团委员会</div></li>
              <li class="data-image" page="3" list="25" data-src="./images/t-25.png"><div>南昌大学<br/>新媒体工作室</div></li>
              <li class="data-image" page="3" list="26" data-src="./images/t-26.png"><div>南昌大学<br/>宣传团</div></li>
              <li class="data-image" page="3" list="27" data-src="./images/t-27.png"><div>南大学生公寓<br/>与教室委员会</div></li>
              <li class="data-image" page="3" list="28" data-src="./images/t-28.png"><div>南昌大学学生<br/>事务服务中心</div></li>
              <li class="data-image" page="3" list="29" data-src="./images/t-29.png"><div>南昌大学学生<br/>文明纠察队</div></li>
              <li class="data-image" page="3" list="30" data-src="./images/t-30.png"><div>南昌大学<br/>艺术团</div></li>
              <li class="data-image" page="3" list="31" data-src="./images/t-31.png"><div>南昌大学<br/>英文广播电台</div></li>
              <li class="data-image" page="3" list="32" data-src="./images/t-32.png"><div>南昌大学助学<br/>服务联合会</div></li>
              <div class="clear"></div>
            </ul>
          </div>
          </div>
          <div data-role="collapsible">
              <h3 class="panel-title">其他</h3>
              <div class="scoll-container">
              <ul class="page-content-list school-teams">
                  <li class="data-image" page="4" list="1" data-src="./images/x-1.png"><div>南昌大学<br/>抱欢相声社</div></li>
                  <li class="data-image" page="4" list="2" data-src="./images/x-2.png"><div>南昌大学<br/>节南山诗社</div></li>
                  <li class="data-image" page="4" list="3" data-src="./images/x-3.png"><div>南昌大学<br/>英语口语协会</div></li>
                  <li class="data-image" page="4" list="4" data-src="./images/x-4.png"><div>SKYwalker<br/>轮滑社</div></li>
                  <li class="data-image" page="4" list="5" data-src="./images/x-5.png"><div>南昌大学<br/>粤语协会</div></li>
                  <li class="data-image" page="4" list="6" data-src="./images/x-6.png"><div>Crazy Angel<br/>轮滑社</div></li>
                <div class="clear"></div>
              </div>
              </ul>
            </div>
        </div>
      </div>
      <div class="page-content-4" id="page-content-4" style="margin-top: 0;">
          <div class="page-title page-title-4 data-image" data-src="/images/page-title-4.png"></div>
          <div class="data-image q-a" data-src="./images/q-a.png"></div>
          <ul class="list-4">
            <li class="data-image" id="p4-card-1" data-src="./images/bg-card.png">
              <div id="p4-card-1-container">
                <p>
                  <span>小萌新：</span>请问违章电器有哪些呢？使用违章电器有什么影响？</p>
                <p>
                  <span>小家园：</span>学生公寓禁止存放和使用以下电器：热得快、电饭煲、煮蛋器、电热壶、电热毯、电暖气、电磁炉、电熨斗、大功率电吹风（大于等于1000w)、卷发棒、烘鞋器等。对于多档数的电吹风，只要最高档大于等于1000w就算违章电器，但暖手宝不属于违章电器。同时，明火蚊香、蜡烛、酒精炉、煤灶、木炭火锅、液化气灶具、炮竹及各种剧毒，放射，腐蚀性化学药品、放热源型电器、炉灶及其他易燃易爆危险品都属于违禁物品。</p>
                <p>在寝室使用违章电器会给同学们的生命财产安全造成潜在的威胁，因此，学校在这一方面的处罚十分严重，具体如下：</p>
                <p>1.在公寓内存放违章电器及物品，被查出给与校级警告处分；检查时正在使用者给与严重警告以上处分。</p>
                <p>2.因使用违章电器导致设备损坏、造成火警或人员财产损失者，给与记过以上处分，屡犯者或引起火灾等灾难性事故者，给与留校察看以上处分。</p>
                <p>3.改装固定设施或私自拆接电源，改装配电设施者给与警告处分。 对于有保研计划的同学来说，以上处分任意一条都会给你的规划带来不可弥补的创伤；更宽泛地说，奖学金的评定乃至是能否顺利毕业，都与你是否留有处分记录息息相关，所以，想冒险尝试一把“电视剧里的大学生活”的小萌新们可要三思而后行呐。</p>
              </div>
            </li>
            <li class="data-image" id="p4-card-2" data-src="./images/bg-card.png">
              <div id="p4-card-2-container"><p><span>小萌新：</span>Hi小家园～接下来这个学年的教学安排、放假日期是怎样的呢？</p> <p><span>小家园：</span>关注微信公众号“南昌大学家园网”，回复关键词“教学周历”、“学期安排”、“放假”即可获得完整教学周历。要上多少天的课，什么时候放假，放假多久，一目了然。</p>
              </div>
            </li>
            <li class="data-image" id="p4-more" data-src="./images/more.png"></li>
          </ul>
        <div class="data-image p4-app" id="p4-app" data-src="./images/app.png"></div>
        <a href="http://qm.qq.com/cgi-bin/qm/qr?k=OtyR5Xib0OPbuAtjZtXeyVc5-a6y7zQU">
          <div class="data-image p4-follow" data-src="./images/follow.png"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="mengban" id="mengban">
    <div id="close-btn"></div>
    <div class="word-content" id="word-content"></div>
  </div>
  <div class="mengban-weixin" id="mengban-weixin">
    <div id="close-btn-weixin"></div>
    <div class="data-image" id="word-content-weixin" data-src="./images/word-content-weixin.png"></div>
    <div class="data-image" id="arrow-weixin" data-src="./images/arrow-weixin.png"></div>
  </div>
</body>
<script type="text/javascript" src="javascripts/words.js"></script>
<script type="text/javascript" src="javascripts/public.js"></script>
<script type="text/javascript" src="javascripts/guide.js"></script>

</html>