<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <title>迎新指南</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/public.css">
  <link rel="shortcut icon" href="images/favicon.ico" /> 
</head>
<body>
<div class="container full-page">
  <div class="start-page full-page" id="start-page">
    <div class="main_title"></div>
    <div class="en_guide animates"></div>
    <div class="en_ncu animates"></div>
    <div class="photo_1 animates"></div>
    <div class="photo_2 animates"></div>
    <div class="photo_3 animates" ></div>
    <div class="open_words animates" id="open_words"></div>
    <div class="start-page-btn animates" id="start-page-btn"></div>
    <div class="img_mask full-page" id="img_mask"></div>
    <ul class="guide-list" id="guide-list">
    </ul>
    <div class="cloud cloud-left animates" id="cloud-left"></div>
    <div class="cloud cloud-right animates" id="cloud-right"></div>
    <div class="start-page-footer animates">南昌大学家园工作室</div>
  </div>
</div>
</body>
<script type="text/javascript" src="javascripts/public.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
</html>