<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
  <title>迎新指南</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/public.css">
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>
  <div class="container full-page">
    <div class="start-page full-page" id="start-page">
      <div class="main_title img-disapr"></div>
      <div class="en_guide animates img-disapr"></div>
      <div class="en_ncu animates img-disapr"></div>
      <div class="photo_1 animates img-disapr"></div>
      <div class="photo_2 animates img-disapr"></div>
      <div class="photo_3 animates img-disapr"></div>
      <div class="open_words animates" id="open_words"></div>
      <div class="start-page-btn animates" id="start-page-btn"></div>
      <ul class="guide-list" id="guide-list">
        <li>
          <a href="./guide#1" class="guide-1" id="guide-1">
            <span class="guide-title-left">生活</span>
            <span class="guide-desc-left">衣食住行，方方面面</span>
          </a>
        </li>
        <li>
          <a href="./guide#1" class="guide-2" id="guide-2">
            <span class="guide-desc-right">热爱学习，风雨兼程</span>
            <span class="guide-title-right">学习</span>
          </a>
        </li>
        <li>
          <a href="./guide#1" class="guide-3" id="guide-3">
            <span class="guide-title-left">社团</span>
            <span class="guide-desc-left">你会pick哪一个</span>
          </a>
        </li>
        <li>
          <a href="./guide#1" class="guide-4" id="guide-4">
            <span class="guide-desc-right">探索更真实的南大</span>
            <span class="guide-title-right">更多...</span>
          </a>
        </li>
      </ul>
      <div class="bubbles-container" id="bubbles-container">
        <div class="bubbles bb-loop-s1"></div>
        <div class="bubbles bb-loop-l"></div>
        <div class="bubbles bb-loop-m"></div>
        <div class="bubbles bb-loop-s2"></div>
        <div class="bubbles bb-delta"></div>
        <div class="bubbles bb-square"></div>
      </div>
      <div class="cloud cloud-left animates" id="cloud-left"></div>
      <div class="cloud cloud-right animates" id="cloud-right"></div>
      <div class="start-page-footer animates">南昌大学家园工作室</div>
    </div>
  </div>
</body>
<script type="text/javascript" src="javascripts/public.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>

</html>