body{
  overflow: hidden;
  /*position: fixed;*/
  background-color: #f3f3f3;
}

.full-page {
  display: flex;
  flex-direction: column;
  background-image: url(../images/main-bg.png);
  background-repeat: repeat-x;
  position: absolute;
  z-index: 0;
}

.page-content-1, .page-content-2, .page-content-3, .page-content-4{
  display: none;
}

.switch-btn {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  height: 1.4rem;
  width: 1.65rem;
  position: absolute;
  bottom: 6%;
  z-index: 7;
  opacity: 0;
  animation: showOpacity 1.2s 0.3s forwards;
}

.switch-left {
  background-image: url(../images/switch-left.png);
  left: 8%;
}

.switch-right {
  background-image: url(../images/switch-right.png);
  right: 8%;
}

.cloud{
  background-repeat: no-repeat;  
  position: absolute;
  width: 100%;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  bottom: -2.5rem;
}

.cloud-left{
  background-image: url(../images/cloud-left.png);
  height: 41%;
  z-index: 6;
}

.cloud-right{
  background-image: url(../images/cloud-right.png);
  left: 7%; 
  height: 40.5%;
  width: 93%;
  z-index: 5;
}

