body {
  overflow: hidden;
  /*position: fixed;*/
  background-color: #f3f3f3;
}

.clear {
  clear: both;
}

.full-page {
  display: flex;
  flex-direction: column;
  background-image: url(../images/main-bg.png);
  background-repeat: repeat-x;
  position: absolute;
  z-index: 0;
}

.page-content{
  margin: 0 auto;
  flex: 1;
  z-index: 4;
}

.page-content-1, .page-content-2, .page-content-3, .page-content-4 {
  display: none;
}

.switch-btn {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  height: 1.3rem;
  width: 1.55rem;
  border-radius: 2px;
  position: fixed;
  bottom: 6%;
  z-index: 7;
  opacity: 0;
  animation: showOpacity 1.2s 0.3s forwards;
}

.switch-left {
  background-image: url(../images/switch-left.png);
  left: 8%;
}

.switch-right {
  background-image: url(../images/switch-right.png);
  right: 8%;
}

.cloud {
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  bottom: -2.5rem;
}

.cloud-left {
  background-image: url(../images/cloud-left.png);
  height: 41%;
  z-index: 1;
}

.cloud-right {
  background-image: url(../images/cloud-right.png);
  left: 7%;
  height: 40.5%;
  width: 93%;
  z-index: 0;
}

.page-content-list li {
  float: left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.page-title{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  display: block;
  position: fixed;
}

.page-title-1{
  height: 2.2rem;
  width: 3.5rem;
  left: 38%;
  top: 6%
}

.list-1 {
  margin: 1.1rem;
  padding-top: 4rem;
}


#list-1-food {
  height: 2.8rem;
  width: 4.15rem;
}

#list-1-dormi{
  height: 2.8rem;
  width: 4.1rem;
  margin-left: 0.3rem;
}

#list-1-trans{
  margin-top: 0.6rem;
  height: 2.8rem;
  width: 2.5rem;
}

#list-1-bank{
  margin-top: 0.6rem;
  margin-left: 0.35rem;
  height: 2.8rem;
  width: 3.1rem;
}

#list-1-express{
  margin-top: 0.6rem;
  margin-left: 0.35rem;
  height: 2.8rem;
  width: 2.25rem;
}

.list-2 {
  margin: 0.18rem 0.85rem;
  padding-top: 2rem;
}

.page-title-2{
  height: 2.2rem;
  width: 3.6rem;
  left: 37%;
  top: 6%;
}

.list-2 li {
  height: 3.5rem;
  width: 3.18rem;
  margin: 0.2rem 0.25rem;
}

.page-title-3{
  height: 2.3rem;
  width: 5.1rem;
  left: 27%;
  top: 6%;
}

.list-3 {
  margin-top: 4rem;
}

.team-1 li {
  height: 2.1rem;
  width: 2.1rem;
  margin: 0.2rem 0.2rem 0.7rem 0.03rem;
}

.panel-title a{
  font-size: 0.5rem;
  width: 7.9rem;
}

.panel-title a::after{
  text-align: center;
  transition: all 0.5s ease 0s;
}

.ui-collapsible-content {
  padding:0 0.1rem;
}

.scoll-container{
  overflow-y:scroll;
  width: 9.5rem;
  height: 6.4rem;
  scrollbar-face-color: #fcfcfc;
  scrollbar-highlight-color: #ffffff;
  scrollbar-shadow-color: #fcfcfc;
  scrollbar-3dlight-color: #fcfcfc;
  scrollbar-arrow-color: #ffffff;
  scrollbar-track-color: #fcfcfc;
  scrollbar-darkshadow-color: #ffffff;
  scrollbar-base-color: #fcfcfc
}

.ui-page-theme-a .ui-body-inherit {
  background-color: transparent;
  border-color: transparent;
}

.page-title-4{
  height: 2.2rem;
  width: 3.6rem;
  left: 37%;
  top: 6%;
}