.start-page{
  background-image: url(../images/main-bg.png);
  background-repeat: repeat-x;
  position: absolute;
  z-index: 0;
}

.cloud{
  background-repeat: no-repeat;  
  position: absolute;
  width: 100%;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  bottom: 0rem;
}

.cloud-left{
  background-image: url(../images/cloud-left.png);
  height: 41%;
  animation: cloudFadeIn 1s 1s;
  -webkit-animation: cloudFadeIn 1s 1s;
  opacity: 0;
  z-index: 6;
}

.cloud-right{
  background-image: url(../images/cloud-right.png);
  left: 7%; 
  bottom: 0%;
  height: 40.5%;
  width: 93%;
  animation: cloudFadeIn 1s 1.3s;
  -webkit-animation: cloudFadeIn 1s 1.3s;
  opacity: 0;
  z-index: 5;
}

.main_title{
  background-image: url(../images/main_title.png);
  background-repeat: no-repeat;  
  position: absolute;
  width: 100%;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  height: 2.4rem;
  width: 6.4rem;
  top: 34%;
  left: 0.8rem;
  z-index: 3;
}

.en_guide{
  background-image: url(../images/en_guide.png);
  background-repeat: no-repeat;  
  position: absolute;
  width: 100%;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  height: 0.65rem;
  width: 6.5rem;
  bottom: 43%;
  right: 0.35rem;
  z-index: 3;
  animation: guideFadeIn 1s 2.3s;
  -webkit-animation: guideFadeIn 1s 2.3s;
  opacity: 0;
}

.en_ncu{
  background-image: url(../images/en_ncu.png);
  background-repeat: no-repeat;  
  position: absolute;
  width: 100%;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  height: 0.9rem;
  width: 3.1rem;
  bottom: 65%;
  right: 2.2rem;
  z-index: 3;
  animation: ncuFadeIn 1s 2.9s;
  -webkit-animation: ncuFadeIn 1s 2.9s;
  opacity: 0;
}

.photo_1{
  background-image: url(../images/photo_1.png);
  background-repeat: no-repeat;  
  position: absolute;
  width: 100%;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  height: 4rem;
  width: 3.7rem;
  top: 0%;
  right: 0rem;
  z-index: 2;
  animation: showOpacity 0.8s 0.3s;
  -webkit-animation: showOpacity 0.8s 0.3s;
  opacity: 0;
}

.photo_2{
  background-image: url(../images/photo_2.png);
  background-repeat: no-repeat;  
  position: absolute;
  width: 100%;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  height: 3.3rem;
  width: 2.2rem;
  top: 10%;
  left: 0rem;
  z-index: 2;
  animation: showOpacity 0.6s 0.6s;
  -webkit-animation: showOpacity 0.6s 0.6s;
  opacity: 0;
}

.photo_3{
  background-image: url(../images/photo_3.png);
  background-repeat: no-repeat;  
  position: absolute;
  width: 100%;
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  height: 3.65rem;
  width: 2.35rem;
  top: 30%;
  right: 0rem;
  z-index: 2;
  animation: showOpacity 0.6s 0.9s;
  -webkit-animation: showOpacity 0.6s 0.9s;
  opacity: 0;
}

.open_words{
  background-image: url(../images/main_words.png);
  background-repeat:no-repeat; 
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  position: absolute;
  height: 2.1rem;
  width: 4.4rem;
  bottom: 18%;
  left: 50%;
  margin-left: -2.1rem;
  z-index: 7;
  transition: opacity 0.6s;
  animation: showOpacity 0.8s 3.7s;
  -webkit-animation: showOpacity 0.8s 3.7s;
  opacity: 0;
}

.start-page-btn{
  background-image: url(../images/main-btn.png);
  background-repeat:no-repeat; 
  background-size:100% 100%;
  -moz-background-size:100% 100%;
  height: 1.05rem;
  width: 2.4rem;
  padding: 0 0.7rem;
  position: absolute;
  bottom: 8%;
  left: 50%;
  margin-left: -1.8rem;
  z-index: 7;
  border-radius: 2px;
  box-shadow: 1px 2px 4px #d0d0d0;
  transition: opacity 0.6s;
  animation: showOpacity 0.4s 4.3s;
  -webkit-animation: showOpacity 0.4s 4.3s;
  opacity: 0;
}

.guide-list{
  margin: 0 auto;
  list-style-type:none;
  position: absolute;
  left: 50%;
  top: 4.8%;
  margin-left: -4.6rem;
  margin-top: 1rem;
  z-index: 10;
  display: none;
}

.guide-list li a{
  position: absolute;
  height: 2rem;
  width: 9.1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
}


.guide-1{
  background-image: url("../images/guide-before-1.png");
  left: -11rem;
}

.guide-2{
  background-image: url("../images/guide-before-2.png");
  top: 2.58rem;
  left: 11rem
}

.guide-3{
  background-image: url("../images/guide-before-3.png");
  top: 5.2rem;
  left: -11rem;
}

.guide-4{
  background-image: url("../images/guide-before-4.png");
  top: 7.7rem;
  left: 11rem
}

.guide-title-left{
  font-size: 0.8rem;
  left: 1.2rem;
  top: 0.28rem;
  font-family: DroidSansFallback;
  font-weight: 600;
  position: relative;
  color: #151515
}

.guide-desc-left{
  color: rgba(0,0,0,0.5);
  font-size: 0.43rem;
  font-weight: 600;
  left: 2.7rem;
  top: 0.3rem;
  position: relative;
  font-family: DroidSansFallback;
}

.guide-title-right{
  font-size: 0.8rem;
  left: 2.2rem;
  top: 0.28rem;
  font-family: DroidSansFallback;
  font-weight: 600;
  position: relative;
  color: #151515
}

.guide-desc-right{
  color: rgba(0,0,0,0.5);
  font-size: 0.43rem;
  font-weight: 600;
  left: 0.7rem;
  top: 0.3rem;
  position: relative;
  font-family: DroidSansFallback;
}
/*
.guide-list li{
  height: 5.74rem;
  width: 5.1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
  animation: showOpacity 0.6s;
  -webkit-animation: showOpacity 0.6s;
  transition: background-image 0.6s;
}
.guide-list li:nth-child(2) {
  margin-top: 1rem;
}
.guide-list li:nth-child(3) {
  margin-top: -1rem;
}
.guide-list li a{
  color: #fff;
  font-size: 0.42rem;
  display: block;
  text-align: center;
  letter-spacing: 1px;
  height: 0.42rem;
  line-height: 0.42rem;
  padding: 3.58rem 0 1.55rem 0;
  background-repeat: no-repeat;
  background-position: center center;
}
.guide-list li:first-child a{
  background-size: 1.27rem 1.03rem;
}
.guide-list li:nth-child(2) a{
  background-size: 1.46rem 1.09rem;
}
.guide-list li:nth-child(3) a{
  background-size: 1.15rem 1.22rem;
}
.guide-list li:nth-child(4) a{
  background-size: 1.24rem 1.24rem;
}
*/
.start-page-footer{
  color: #88ccfc;
  font-size: 0.32rem;
  width: 3.5rem;
  height: 0.72rem;
  line-height: 0.72rem;
  text-align: center;
  padding-left: 0.95rem;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 0.5rem 0.5rem;
  background-position-x: 0.55rem;
  background-position-y: 0.12rem;
  position: absolute;
  bottom: 0.05rem;
  left: 50%;
  margin-left: -2.3rem;
  z-index: 7;
  animation: showOpacity 1.4s 5s;
  -webkit-animation: showOpacity 1.4s 5s;
  opacity: 0;
}

.img-disapr{
  transition: opacity 0.6s;
}

@media only screen and (min-width: 320px) {
  .start-page .img_mask{
    background-size: 540px 960px;
  }
}
@media only screen and (min-width: 480px) {
  .start-page .img_mask{
    background-size: 720px 1280px;
  }
}
@media only screen and (min-width: 650px) {
  .start-page .img_mask{
    background-size: 810px 1440px;
  }
}
@media only screen and (min-width: 960px) {
  .start-page .img_mask{
    background-size: 1080px 1920px;
  }
}

@keyframes showOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cloudFadeIn {
  0% {
    bottom: -5rem;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes cloudFadeOut {
  0% {
    bottom: 5rem;
    opacity: 0;
  }
  100% {
    bottom: 2.5rem;  
    opacity: 1;
  }
}

@keyframes cloudFadeOut {
  0% {
    bottom: 0rem;
  }
  100% {
    bottom: -2.5rem;
  }
}

@-webkit-keyframes cloudFadeOut {
  0% {
    bottom: 0rem;
  }
  100% {
    bottom: -2.5rem;
  }
}

@keyframes guideFadeIn {
  0% {
    bottom: 35%;
    opacity: 0;
  }
  100% {
    bottom: 43%;
    opacity: 1;
  }
}

@-webkit-keyframes guideFadeIn {
  0% {
    bottom: 35%;
    opacity: 0;
  }
  100% {
    bottom: 43%;  
    opacity: 1;
  }
}

@keyframes ncuFadeIn {
  0% {
    bottom: 61%;
    opacity: 0;
  }
  100% {
    bottom: 65%;
    opacity: 1;
  }
}

@-webkit-keyframes ncuFadeIn {
  0% {
    bottom: 61%;
    opacity: 0;
  }
  100% {
    bottom: 65%;  
    opacity: 1;
  }
}

@keyframes guideLeft {
  0% {
    left:-11rem;
  }
  70% {
    left: 0.2rem;
  }
  100% {
   left: -0.3rem
  }
}

@-webkit-keyframes guideLeft {
  0% {
    left:-11rem;
  }
  70% {
    left: 0.2rem;
  }
  100% {
    left: -0.3rem
  }
}

@keyframes guideRight {
  0% {
    left:11rem;
  }
  70% {
    left: -0.28rem;
  }
  100% {
   left: 0.38rem
  }
}

@-webkit-keyframes guideRight {
  0% {
    left:11rem;
  }
  70% {
    left: -0.28rem;
  }
  100% {
    left: 0.38rem
  }
}
